/*RESET*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #F8EDE3;
    color: #2B2B2B;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/*VARIABLES*/

:root {
    --bg: #F8EDE3;

    --surface: #FFFFFF;
    --surface-soft: #FFF7F2;

    --primary: #C5705D;
    --primary-hover: #B45A45;

    --secondary: #D0B8A8;
    --border: #DFD3C3;

    --text: #2B2B2B;
    --text-light: #6B6B6B;

    --danger: #D9534F;
    --success: #6FA67A;

    --shadow: 0 10px 30px rgba(0,0,0,0.06);

    --radius-lg: 24px;
    --radius-md: 16px;
    --radius-sm: 10px;

    --transition: 0.2s ease;
}

/*TYPOGRAPHY*/

h1 {
    font-size: clamp(2.4rem, 6vw, 4rem);
    line-height: 1.1;
    margin-bottom: 20px;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 16px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

p {
    color: var(--text-light);
}

body {
    padding-top: 100px;
}

.logo span {
    font-family: 'Lora', serif;
    font-weight: 600;
}
